@use 'styles' as *;

.button {
  background: none;
  border: none;
  cursor: pointer;
  left: $spacing-32;
  position: absolute;
  top: $spacing-32;
}

.icon {
  @include size(3.2rem);

  color: white;
}
