@import "styles/config";

.table {
  height: 100%;
}

.head {
  @include grid-cols(4);
  @include padding-x($spacing-16);
  @include padding-y($spacing-12);

  align-items: center;
  background: $prodeko-blue;
  color: $prodeko-blue-lightest;
  font-weight: $font-weight-semibold;
  text-transform: uppercase;
}

.body {
  display: block;
  height: 100%;
  overflow-y: scroll;
}

.row {
  @include padding-x($spacing-16);
  @include padding-y($spacing-12);
  @include dual-grid(30fr, 70fr);
  @include hover-background($prodeko-blue-lighter);

  align-items: center;
  border: $border;
  flex-shrink: 0;
  padding: $spacing-12 $spacing-16;
  transition: all 0.3s;

  &:nth-child(even) {
    @include hover-background($prodeko-blue-lightest);
  }
}