@import "styles/config";

.table {
  height: 100%;
}

.info {
  @include grid-cols(2);

  align-items: center;
  justify-items: start;
}

.stats {
  @include grid-cols(1);

  justify-items: start;
}

.head {
  @include padding-x($spacing-16);
  @include padding-y($spacing-12);
  
  background: $prodeko-blue;
  color: $prodeko-blue-lightest;
  font-size: $font-size-20;
  font-weight: $font-weight-semibold;
  text-transform: uppercase;
}

.headrow {
  @include padding-x($spacing-16);
  @include padding-y($spacing-12);
  @include grid-cols(2);

}

.body {
  @include flex-y(0);

  background: white;
  color: $prodeko-blue;
  font-size: $font-size-14;
  font-weight: $font-weight-semibold;
  height: 100%;
  overflow-y: scroll;
}

.bodyrow {
  @include padding-x($spacing-16);
  @include padding-y($spacing-12);
  @include grid-cols(2);

  @include hover-background($prodeko-blue-lighter);

  align-items: center;
  border: $border;
  flex-shrink: 0;
  padding: $spacing-12 $spacing-16;
  transition: all 0.3s;

  &:nth-child(even) {
    @include hover-background($prodeko-blue-lightest);
  }
}