@use 'styles' as *;

.sidebar {
  background: $color-gradient-mixed-900-600;
  max-height: 100vh;
  padding: $spacing-24;
  z-index: 10;
}

.linkContainer {
  @include flex-y($gap: $spacing-24);

  display: flex;
  flex-direction: column;
  gap: $spacing-24;
}

.sidebarLink {
  @extend %flex-center;
  @include size($spacing-80);

  border-radius: 50%;
  color: $color-gray-300;
  cursor: pointer;
  transition: all 0.3s;
  
  &:hover {
    background-color: $color-gray-400;
    color: $color-primary-800;
  }
  
  &--active {
    background-color: $color-gray-25;
    color: $color-primary-800;
    
    &:hover {
      background-color: $color-gray-25;
      color: $color-primary-800;
    }
  }
}

.sidebarIcon {
  @include size($spacing-40);
}
