@use 'styles' as *;

%list-item {
  @extend %text-style-text-md-normal;
  
  cursor: pointer;
  padding: $spacing-8;
  pointer-events: fill;
}

%list {
  @include scrollbar(false);
  @include flex-y(null);

  background: $color-base-white;
  border-radius: $border-radius-small;
  color: $color-gray-800;
  list-style: none;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: $spacing-48;
  transition: all 0.5s;
  width: 100%;
}

.container {
  @include flex-x($spacing-16);

  align-items: center;
  background-color: $color-base-white;
  border-radius: $border-radius-small;
  color: $color-gray-800;
  height: 4.4rem;
  justify-content: space-between;
  padding: $spacing-12;
  width: 100%;
}

.input {
  @extend %text-style-text-md-normal;

  border: none;
  cursor: pointer;
  width: 100%;

  &:focus {
    cursor: auto;
    outline: none;
  }
}

.list {
  @extend %list;

  max-height: 0;

  &__visible {
    @extend %list;

    max-height: 400%;
  }
}

.listItem {
  @extend %list-item;
}

.iconLeading {
  @extend %flex-center;
  
  color: $color-primary-400;
  cursor: pointer;
}

.emptyArray {
  @extend %flex-center;
  @extend %text-style-display-sm-semibold;
  
  height: $spacing-256;
  text-align: center;
}

.wrapper {
  @include flex-y($spacing-4);
  
  max-height: 100%;
  min-height: 0;
  position: relative;
  z-index: 1;
}

.selected {
  @extend %list-item;

  background-color: $color-gray-300;
}