@use 'styles' as *;

%card-bg {
  @include size(100%);
  
  background: $color-gray-800;
  border-bottom-left-radius: $border-radius-small;
  border-bottom-right-radius: $border-radius-small;
  color: $color-gray-200;
}

%row {
  @extend %text-style-text-xl-semibold;
  @include flex-x(null);


  align-items: center;
  cursor: pointer;
  height: $spacing-48;
  justify-content: space-between;
  padding: $spacing-16;
}

.playerList {
  @include scrollbar(true);
  @extend %card-bg;
  @include flex-y(null);


  .playerRow {
    @extend %row;
    @include gradient-animation-on-hover(
      $before-left: $color-gray-800,
      $before-right: $color-gray-800,
      $after-left: $color-gray-800,
      $after-right: $color-gray-700,
      $trans-time: 0.1s
    );

    &__selected {
      @extend %row;
      @include gradient-animation(
        $before-left: $color-gray-800,
        $before-right: $color-gray-800,
        $after-left: $color-gray-800,
        $after-right: $color-gray-700,
        $trans-time: 0.1s
      );
    }
  }
}

.queueLabel {
  @extend %flex-center;
  @include size($height: $spacing-48, $width: 100%);

  background: $color-primary-800;
  border-top-left-radius: $border-radius-small;
  border-top-right-radius: $border-radius-small;

  h3 {
    @extend %text-style-display-xs-semibold;

    color: $color-base-white;
  }
}

.inputWrapper {
  @include padding-x($spacing-12);
  @include padding-y($spacing-8);
  @include flex-x($gap: $spacing-8);
  @include size($height: $spacing-48, $width: 100%);

  align-items: center;
  background: $color-primary-800;
  border-top-left-radius: $border-radius-small;
  border-top-right-radius: $border-radius-small;

  .searchIcon {
    @include size($spacing-20);
    @extend %flex-center;

    svg {
      @include size(100%);
    }
  }

  input {
    @extend %text-style-text-md-normal;
    @include size(100%);

    background: inherit;
    border: none;
    color: $color-gray-300;
    outline: none;
  }

  input::placeholder {
    color: $color-gray-400;
  }
}

.layout {
  @include grid-rows(2);

  max-height: 90%;
  row-gap: $spacing-24;
}

.searchCard {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
}

.noplayers{
  @extend %card-bg;
  @extend %flex-center;
  @extend %text-style-display-md-semibold;
}
