@use 'styles' as *;

%card-column {
  @include flex-y($gap: null);

  justify-content: center;
  max-height: 100%;
  min-height: 0;
  row-gap: $spacing-48;
  width: 100%;
}

%title {
  @extend %text-style-display-lg-bold;

  // @extend %flex-center;
  
  height: 10%;
  text-align: center;
  text-transform: capitalize;
}

.cardColumn {
  @extend %card-column;
  
  
  &__selected {
    @extend %card-column;
  }
}

.title {
  &__winner {
    @extend %title;

    color: $color-success-500;
  }
  
  &__loser {
    @extend %title;

    color: $color-error-500;
  }
}

.selectedlayout {
  @include grid-rows(1);
}

.chooselayout {
  @include grid-rows(2);

  max-height: 100%;
  row-gap: $spacing-24;
}