@use 'styles' as *;

%card-column {
  @include grid-rows(1);

  max-height: 100%;
  min-height: 0;
  row-gap: $spacing-16;
}

.cardColumn {
  @extend %card-column;
  @include grid-rows(2);

  &__selected {
    @extend %card-column;
    @include grid-rows(1);
  }
}