@use 'styles' as *;

.layout {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  height: 100%;
}

.grid {
  @include grid-cols(2);
  @include grid-rows(3);

  gap: $spacing-32;
  padding: $spacing-64;
}