@use 'styles' as *;

.container {
  background: $color-gray-800;
  border-radius: $border-radius-large;
  color: $color-gray-200;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  padding: 24px;
}

.title {
 @extend %text-style-display-md-semibold;
}

.addBtn {
  @extend %text-style-text-md-semibold;

  border-radius: $border-radius-small;

  // background: $color-primary-25;
  color: $color-primary-700;
  justify-self: right;

  // padding: 8px 16px;
  text-transform: uppercase;
  width: 300px;
}

.list {
  grid-column: 1 / span 2;
}