// Color shades from: https://maketintsandshades.com

// Colors
$prodeko-blue-lighter: #99a9b9;
$prodeko-blue-light: #4d6985;
$prodeko-blue: #002851;
$prodeko-blue-dark: #001c39;
$prodeko-blue-darker: #001020;

$white: #F0F0F2;
$grey-light: #434347;
$grey: #434347;
$grey-dark: #222224;
$black: #0d0d0e;

// Font sizes
$font-size-h1: 8.6rem;
$font-size-h2: 5.2rem;
$font-size-h3: 3.6rem;
$font-size-p1: 2rem;
$font-size-p2: 1.6rem;
$font-size-p3: 1.4rem;


// Font weights
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-default: 400;

// Spacing
$spacing-xxl: 3.2rem;
$spacing-xl: 2.4rem;
$spacing-l: 1.6rem;
$spacing-m: 1.2rem;
$spacing-s: 0.8;
$spacing-xs: 0.4rem;
$spacing-xs: 0.2rem;

// Border radius
$border-radius-large: 11px;
$border-radius-small: 9px;

// Box shadow
$box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
