@use 'styles' as *;

%card-column {
  display: grid;
  height: 100%;
  min-height: 0;
  row-gap: 1.6rem;
}

.cardColumn {
  @extend %card-column;

  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);

  &__selected {
    @extend %card-column;

    grid-template-rows: minmax(0, 1fr);
  }
}