@use 'styles' as *;

.playerList {
  @extend %scrollbar;

  background: $color-gray-800;
  border-bottom-left-radius: $border-radius-small;
  border-bottom-right-radius: $border-radius-small;
  color: $color-gray-200;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  width: 100%;

  .playerRow {
    @extend %text-style-text-xl-semibold;

    display: flex;
    flex-direction: row;
    height: $spacing-48;
    justify-content: space-between;
    padding: $spacing-16;
  }
}

.queueLabel {
  @extend %flex-center;

  background: $color-primary-800;
  border-top-left-radius: $border-radius-small;
  border-top-right-radius: $border-radius-small;
  height: 5rem;
  width: 100%;

  h3 {
    @extend %text-style-display-xs-semibold;

    color: white;
  }
}

.inputWrapper {
  @include padding-x($spacing-12);
  @include padding-y($spacing-8);

  align-items: center;
  background: $color-primary-800;
  border-top-left-radius: $border-radius-small;
  border-top-right-radius: $border-radius-small;
  display: flex;
  flex-direction: row;
  height: $spacing-48;
  width: 100%;

  .searchIcon {
    display: flex;
    height: 2rem;
    width: 2rem;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  input {
    @extend %text-style-text-md-normal;

    background: inherit;
    border: none;
    color: $color-gray-400;
    height: 100%;
    margin-left: 0.8rem;
    outline: none;
    width: 100%;
  }

  input::placeholder {
    color: $color-gray-400;
  }
}

.searchCard {
  column-gap: 2rem;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
}