@use 'styles' as *;

.profileheader {
  @include flex-x($gap: $spacing-96);
  @include padding-y($padding: $spacing-32);

  align-items: center;
  background-image: $color-gradient-gray-800-700;
  height: $header-height;
  justify-content: space-between;
}

.emojiCircle {
  @extend %flex-center;
  @extend %shadow-lg;
  @extend %text-style-display-2-xl-bold;

  aspect-ratio: 1/1;
  background-color: $color-base-white;
  border-radius: $border-radius-full;
  height: 100%;
  margin-left: 10%;
}

.profileinfo {
  @include flex-y($gap: $spacing-16);

  color: $color-gray-100;

  &--primary {
    @extend %text-style-display-lg-bold;
  }

  &--secondary {
    @include flex-x($gap: $spacing-8);
    @extend %text-style-text-md-semibold;

    align-items: center;
    align-self: flex-start;
    background-color: $color-gray-300;
    border: none;
    border-radius: $border-radius-small;
    color: $color-primary-700;
    cursor: pointer;
    padding: $spacing-16 $spacing-16;
    transition: all 0.2s ease-out;

    &:hover {
      @extend %shadow-xl;

      background-color: $color-gray-100;
    }

    .icon {
      @include size(2.4rem);
    }
  }
}
