@use 'styles' as *;

.chosenPlayer {
  @include flex-y($gap: $spacing-32);

  height: 100%;
  justify-content: center;
  width: 100%;

  .title {
    @extend %text-style-display-md-bold;

    color: $color-gray-200;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    text-align: center;

    tr {
      display: flex;
      flex-direction: row;
      height: $spacing-48;
      justify-content: space-between;
      padding: $spacing-16;
      width: 100%;
    }
    
    button {
      @extend %flex-center;

      background-color: $color-gray-100;
      border: none;
      border-radius: 6.4rem;
      cursor: pointer;
      height: 6.4rem;
      width: 6.4rem;
  
      svg {
        height: 100%;
        width: 100%;
      }
    }
  }

  .table {
    display: flex;
    flex-direction: column;
    width: 100%;

    td {
      @extend %text-style-display-xs-semibold;

      color: $color-gray-25;
      text-align: center;
    }

    tr {
      display: flex;
      flex-direction: row;
      height: $spacing-48;
      justify-content: space-between;
      padding: $spacing-16;
      width: 100%;
    }
  }
}
