@use 'styles' as *;

.field {
  @include flex-y($gap: $spacing-8)
}

.label {
  @extend %text-style-text-sm-medium;

  align-self: flex-start;
  border-bottom: 1px solid transparent; // This needs to be in place so when the white border appears, the rest of the page doesn't get pushed down 
  transition: all 0.2s;
}

.label:hover, .label:active {
  border-bottom: 1px solid $color-base-white;
  color: $color-base-white;
  cursor: pointer;
}

.input {
  border: none;
  border-radius: $border-radius-small;
  padding: $spacing-8 $spacing-12;
}
