@use 'styles' as *;

.container {
  @extend %text-style-text-xl-semibold;;
  @include grid-cols(3);
  @include padding-y($padding: $spacing-8);
  @include padding-x($padding: $spacing-16);

  @include gradient-animation(
      $before-left: $color-gray-800,
      $before-right: $color-gray-800,
      $after-left: $color-gray-800,
      $after-right: $color-gray-700,
      $trans-time: 0.1s
    );

  align-items: center;
}

.removeBtn {
  @extend %text-style-text-md-semibold;
  @include padding-y($padding: $spacing-4);
  @include padding-x($padding: $spacing-8);
  
  background: $color-error-600;
  border: none;
  color: $color-base-white;
  cursor: pointer;
  justify-self: right;
  scale: 0;
  text-transform: uppercase;
  width: fit-content; // will be set to inline-block on hover
}

.container:hover > .removeBtn {
  scale: 1;
}
