@use 'styles' as *;

.newProfileContainerOuter {
  color: $color-gray-100;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  height: 100%;
}

.newProfileContainerInner {
  @extend %flex-center;

  color: $color-gray-100;
  height: 100%;
  position: relative;
}
