@use 'styles' as *;

.nodata {
  @extend %flex-center;
  @extend %text-style-display-lg-bold;

  height: 100%;
}

.arrow__box {
  @include flex-y($gap: $spacing-4);
  @extend %text-style-text-md-bold;

  background: $color-gradient-gray-900-800;
  padding: $spacing-8;
  position: relative;
}

.data__row {
  display: flex;
  gap: $spacing-16;
  justify-content: space-between;
}

.positive {
  color: $color-success-500;
}

.negative {
  color: $color-error-500;
}

.chart {
  max-height: 100%;
}