@use 'styles' as *;

.card {
  background-color: $color-gray-800;
  border-radius: $border-radius-large ;
  height: 100%;
}

.cardgrid {
  @include padding-y($spacing-24);

  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  height: 100%;
  row-gap: $spacing-12;
}