@use 'styles' as *;

.title {
  @extend %text-style-display-md-semibold;

  color: $color-gray-50;
}

.titleRow {
  display: flex;
  justify-content: space-between;
}

.removeButton {
  @extend %text-style-display-xs-semibold;

  border-radius: $border-radius-small;
  color: $color-primary-700;
  border: none;
  cursor: pointer;
  padding: $spacing-8 $spacing-16;

  transition: all 0.3s;
}

.removeButton:hover {
  background-color: $color-error-300;
  color: $color-primary-25;
}
