@import "styles/config";

.keepHeight {
  height: 100%;
}

.scroll {
  display: block;
  height: 100%;
  overflow-y: scroll;
}

.title {
  font-size: $font-size-52;
  font-weight: $font-weight-semibold;
}

.tableItem {
  font-size: $font-size-20;
}

.leaderboard {
  background: $white;
  display: flex;
  flex-direction: column;
  gap: $spacing-24;
  height: 100%;
  padding: $spacing-16;

  &Card {
    @include padding-x($spacing-16);
    @include padding-y($spacing-12);
    @include dual-grid(30fr, 70fr);
    @include hover-background($prodeko-blue-lighter);

    align-items: center;
    border: $border;
    flex-shrink: 0;
    padding: $spacing-12 $spacing-16;
    transition: all 0.3s;

    &:nth-child(even) {
      @include hover-background($prodeko-blue-lightest);
    }

    &Info {
      align-items: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: left;
      width: minmax(20rem, 100%);
    }

    &Stats {
      align-items: center;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: right;
      width: 100%;
    }
  }

  &Header {
    @include dual-grid(30fr, 70fr);
    @include padding-x($spacing-16);
    @include padding-y($spacing-12);

    align-items: center;
    background: $prodeko-blue;
    color: $prodeko-blue-lightest;
    font-weight: $font-weight-semibold;
    text-transform: uppercase;
  }
}
