@use 'styles' as *;

.container {
  @extend %flex-center;
  @extend %background-blur-sm;

  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.card {
  background: white;
  column-gap: $spacing-32;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 85%;
  padding: $spacing-64;
  width: 85%
}

.searchCard {
  .inputWrapper {
    @include padding-x($spacing-12);
    @include padding-y($spacing-8);

    background: $color-primary-800;
    box-sizing: border-box;
    height: $spacing-48;
    width: 100%;

    input {
      @extend %text-style-text-md-normal;

      background: inherit;
      border: none;
      color: $color-gray-400;
      height: 100%;
      width: 100%;
    }
  }
}

.playerList {
  background: $color-gray-800;
  box-sizing: border-box;
  color: $color-gray-200;
  width: 100%;

  .playerRow {
    @extend %text-style-text-xl-semibold;

    display: flex;
    flex-direction: row;
    height: $spacing-48;
    justify-content: space-between;
    padding: $spacing-16;
  }
}
