@use 'styles' as *;

.container {
  @extend %flex-center;
  @extend %background-blur-sm;

  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.modal {
  background: $color-gradient-gray-800-700;
  border-radius: $border-radius-large;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr) auto;
  height: 85%;
  justify-content: space-between;
  min-height: 0;
  position: relative;
  width: 85%;

  .closeButton {
    @extend %flex-center;

    background-color: $color-primary-800;
    border: none;
    border-radius: 6.4rem;
    cursor: pointer;
    height: 6.4rem;
    left: -3.2rem;
    position: absolute;
    top: -3.2rem;
    width: 6.4rem;

    svg {
      height: 100%;
      width: 100%;
    }
  }
}

.playerLabel {
  @extend %flex-center;

  background: $color-gradient-gray-800-700;
  height: 100%;
  width: 7.2rem;

  h3 {
    @extend %text-style-display-md-bold;

    color: $color-success-500;
    text-orientation: upright;
    writing-mode: vertical-lr;
  }

  .loser {
    color: $color-error-500;
  }
}

.cardWrapper {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  height: 100%;
  min-height: 0;
}

.cardLabel {
  background: $color-gradient-primary-900-700;
  padding: 6.4rem;
  text-align: center;

  h3 {
    @extend %text-style-display-lg-bold;
    @include gradient-text($color-gradient-white-300-100);
  }
}

.card {
  column-gap: $spacing-32;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  min-height: 0;
  padding: $spacing-64;
}

%card-column {
  display: grid;
  height: 100%;
  min-height: 0;
  row-gap: 1.6rem;
}

.cardColumn {
  @extend %card-column;

  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);

  &__selected {
    @extend %card-column;

    grid-template-rows: minmax(0, 1fr);
  }
}


.inputWrapper {
  @include padding-x($spacing-12);
  @include padding-y($spacing-8);

  align-items: center;
  background: $color-primary-800;
  border-top-left-radius: $border-radius-small;
  border-top-right-radius: $border-radius-small;
  display: flex;
  flex-direction: row;
  height: $spacing-48;
  width: 100%;

  .searchIcon {
    display: flex;
    height: 2rem;
    width: 2rem;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  input {
    @extend %text-style-text-md-normal;

    background: inherit;
    border: none;
    color: $color-gray-400;
    height: 100%;
    margin-left: 0.8rem;
    outline: none;
    width: 100%;
  }

  input::placeholder {
    color: $color-gray-400;
  }
}

.searchCard {
  column-gap: 2rem;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
}

.playerList {
  @extend %scrollbar;

  background: $color-gray-800;
  border-bottom-left-radius: $border-radius-small;
  border-bottom-right-radius: $border-radius-small;
  color: $color-gray-200;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  width: 100%;

  .playerRow {
    @extend %text-style-text-xl-semibold;

    display: flex;
    flex-direction: row;
    height: $spacing-48;
    justify-content: space-between;
    padding: $spacing-16;
  }
}

.queueLabel {
  @extend %flex-center;

  background: $color-primary-800;
  border-top-left-radius: $border-radius-small;
  border-top-right-radius: $border-radius-small;
  height: 5rem;
  width: 100%;

  h3 {
    @extend %text-style-display-xs-semibold;

    color: white;
  }
}

.buttonWrapper {
  @extend %flex-center;
  @include flex-y($gap: 3rem);

  height: 100%;
  width: 100%;

  button {
    @extend %text-style-display-xs-semibold;

    background: $color-primary-600;
    border: none;
    border-radius: $border-radius-small;
    color: white;
    cursor: pointer;
    height: 7rem;
    width: 50%;
  }

  .underTable {
    @include flex-x($gap: 3rem);

    input {
      height: 3rem;
      width: 3rem;
    }

    p {
      @extend %text-style-display-xs-semibold;

      color: white;
    }
  }
}

.chosenPlayer {
  @include flex-y(0);

  height: 100%;
  justify-content: center;
  width: 100%;

  .title {
    @extend %text-style-display-md-bold;

    color: $color-gray-200;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    text-align: center;
    
    button {
      @extend %flex-center;

      background-color: $color-gray-100;
      border: none;
      border-radius: 6.4rem;
      cursor: pointer;
      height: 6.4rem;
      width: 6.4rem;
  
      svg {
        height: 100%;
        width: 100%;
      }
    }
  }

  .table {
    display: flex;
    flex-direction: column;
    width: 100%;

    h3 {
      @extend %text-style-display-xs-semibold;

      color: $color-gray-25;
      text-align: center;
    }

    div {
      display: flex;
      flex-direction: row;
      height: $spacing-48;
      justify-content: space-between;
      padding: $spacing-16;
      width: 100%;
    }
  }
}
