@use 'styles' as *;

.container {
  @extend %flex-center;
  @extend %background-blur-sm;

  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.modal {
  background: $color-gradient-gray-800-700;
  border-radius: $border-radius-large;
  display: flex;
  flex-direction: row;
  height: 85%;
  justify-content: space-between;
  width: 85%;
}

.playerLabel {
  align-items: center;
  background: $color-gradient-gray-800-700;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 7.2rem;

  h3 {
    @extend %text-style-display-md-bold;

    color: $color-success-500;
    text-orientation: upright;
    writing-mode: vertical-lr;
  }

  .loser {
    color: $color-error-500;
  }
}

.cardWrapper {
  flex: 1;

  .cardLabel {
    background: $color-gradient-primary-900-700;
    flex: 1;
    padding: 6.4rem;
    text-align: center;

    h3 {
      @extend %text-style-display-lg-bold;
      @include gradient-text($color-gradient-white-300-100);
    }
  }
}

.card {
  column-gap: $spacing-32;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: $spacing-64;
}

.searchCard {
  height: 50%;

  .inputWrapper {
    @include padding-x($spacing-12);
    @include padding-y($spacing-8);

    align-items: center;
    background: $color-primary-800;
    border-top-left-radius: $border-radius-small;
    border-top-right-radius: $border-radius-small;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: $spacing-48;
    width: 100%;

    .searchIcon {
      display: flex;
      height: 2rem;
      width: 2rem;

      svg {
        height: 100%;
        width: 100%;
      }
    }

    input {
      @extend %text-style-text-md-normal;

      background: inherit;
      border: none;
      color: $color-gray-400;
      height: 100%;
      margin-left: 0.8rem;
      outline: none;
      width: 100%;
    }

    input::placeholder {
      color: $color-gray-400;
    }
  }
}

.playerList {
  background: $color-gray-800;
  border-bottom-left-radius: $border-radius-small;
  border-bottom-right-radius: $border-radius-small;
  box-sizing: border-box;
  color: $color-gray-200;
  max-height: 100%;
  overflow: scroll;
  width: 100%;

  .playerRow {
    @extend %text-style-text-xl-semibold;

    display: flex;
    flex-direction: row;
    height: $spacing-48;
    justify-content: space-between;
    padding: $spacing-16;
  }
}
