@use 'styles' as *;

.titlerow {
  @extend %text-style-display-sm-semibold;
  @extend %flex-between;
  @include padding-x($spacing-24);
  @include flex-x($spacing-12);
  

  align-items: center;
  color: $color-gray-50;
  max-height: 100%;
  min-height: 0;
}

.title {
  @extend %text-style-display-md-semibold;
}