@import "~components/styles/config";

.title {
  &__primary {
    font-size: $font-size-86;
    font-weight: $font-weight-bold;
  }

  &__secondary {
    font-size: $font-size-52;
    font-weight: $font-weight-semibold;
  }

  &__tertiary {
    font-size: $font-size-36;
    font-weight: $font-weight-medium;
  }
}