@use 'styles' as *;

.title {
  @extend %text-style-display-md-semibold;

  color: $color-gray-50;
}

.titlerow {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.playerSelect {
  @extend %text-style-text-md-semibold;

  border-radius: $border-radius-small;
  color: $color-primary-700;
  justify-self: right;
  text-transform: uppercase;
  width: 30rem;
}

.list {
  color: $color-gray-200;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
}
