@use 'styles' as *;

.title {
  @extend %text-style-display-md-semibold;

  color: $color-gray-50;
}

.titlerow {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search {
  position: absolute;
  right: $spacing-16;
  top: $spacing-24;
  width: 30rem;
  z-index: 2;
}


.list {
  @include scrollbar(true);

  color: $color-gray-200;
  display: flex;
  flex-direction: column;
  height: 100%;
}
