@use 'styles' as *;

.profileheader {
  @include flex-x($gap: $spacing-96);
  @include padding-y($padding: $spacing-32);

  align-items: center;
  background-image: $color-gradient-gray-800-700;
  height: $header-height;
  justify-content: space-between;
}

.emojiCircle {
  @extend %flex-center;
  @extend %shadow-lg;
  @extend %text-style-display-2-xl-bold;

  aspect-ratio: 1/1;
  background-color: $color-base-white;
  border-radius: $border-radius-full;
  height: 100%;
  margin-left: 10%;
}

.profileinfo {
  @include flex-y($gap: $spacing-16);

  color: $color-gray-100;

  &--primary {
    @extend %text-style-display-lg-bold;
  }

  &--secondary {
    @extend %text-style-display-xs-semibold;
    @extend %flex-center;
  }
}
