@import '../../main.scss';

.paragraph {
  &__XXXS {
    font-size: $font-size-XXXS;
  }
  &__XXS {
    font-size: $font-size-XXS;
  }
  &__XS {
    font-size: $font-size-XS;
  }
  &__S {
    font-size: $font-size-S;
  }
  &__M {
    font-size: $font-size-M;
  }
  &__L {
    font-size: $font-size-L;
  }
  &__XL {
    font-size: $font-size-XL;
  }
  &__XXL {
    font-size: $font-size-XXL;
  }
  &__XXXL {
    font-size: $font-size-XXXL;
  }
}
