@import "../../main";

.paragraph {
  &__xxxs {
    font-size: $font-size-xxxs;
  }

  &__xxs {
    font-size: $font-size-xxs;
  }

  &__xs {
    font-size: $font-size-xs;
  }

  &__s {
    font-size: $font-size-s;
  }

  &__m {
    font-size: $font-size-m;
  }

  &__l {
    font-size: $font-size-l;
  }

  &__xl {
    font-size: $font-size-xl;
  }

  &__xxl {
    font-size: $font-size-xxl;
  }

  &__xxxl {
    font-size: $font-size-xxxl;
  }
}
