@use 'styles' as *;

%link {
  color: $color-primary-100;
  cursor: pointer;
  padding: $spacing-8;
  text-transform: capitalize;
  transition: color 0.2s;
}

.navigation {
  @include flex-x($spacing-24);
  @extend %text-style-display-md-normal;
}

.link {
  @extend %link;
  
  &:hover {
    color: $color-primary-50;
  }
  
  &__active {
    @extend %link;
    @extend %text-style-display-md-semibold;

    border-bottom: 2px solid $color-primary-25;
    color: $color-primary-25;;
  }
}