@use 'styles' as *;

.card {
  @extend %flex-center;
  @extend %text-style-display-md-semibold;

  background-image: url("/images/add-game-background.png");
  background-position: center;
  background-size: cover;
  border-radius: $border-radius-large;
  color: $color-gray-400;
  cursor: pointer;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: all 0.2s;

  &::after {
    @include size(100%);
    @extend %background-filter;

    content: "";
    position: absolute;
    z-index: 0;
  }

  &:hover {
    color: $color-gray-200;
  }
}

.text {
  z-index: 1;
}