@use 'styles' as *;

%sidebar {
  @include flex-y($spacing-16);

  background: $color-gradient-mixed-900-600;
  justify-content: space-between;
  max-height: 100vh;
  padding: $spacing-24;
  z-index: 10;
}

.sidebar {
  @extend %sidebar;

  &--seasonal {
    @extend %sidebar;

    background: $color-gradient-gray-600-500;
  }
}

.linkContainer {
  @include flex-y($gap: $spacing-24);

  align-items: center;
  display: flex;
  flex-direction: column;
  gap: $spacing-24;
}

.bottomContainer {
  @include flex-y($gap: $spacing-24);

  align-items: center;
  display: flex;
  flex-direction: column;
  gap: $spacing-24;
}

.sidebarLink {
  @extend %flex-center;
  @include size($spacing-80);

  border-radius: 50%;
  color: $color-gray-300;
  cursor: pointer;
  transition: all 0.3s;
  
  &:hover {
    background-color: $color-gray-400;
    color: $color-primary-800;
  }
  
  &--active {
    background-color: $color-gray-25;
    color: $color-primary-800;
    
    &:hover {
      background-color: $color-gray-25;
      color: $color-primary-800;
    }
  }
}

.sidebarIcon {
  @include size($spacing-40);
}

.versioning {
  color: $color-gray-25;
  text-align: center;
  width: 100%;
}

.toggleSwitch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.toggleCheckbox {
  height: 0;
  opacity: 0;
  width: 0;
}

.toggleContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: $spacing-12;
}

// Add this for the text label
.toggleLabelText {
  color: $color-base-white;
  font-size: 16px;
  margin-left: 10px
}


.toggleLabel {
  background-color: #ccc;
  border-radius: 34px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  
  &::before {
    background-color: white;
    border-radius: 50%;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
}

.toggleCheckbox:checked + .toggleLabel {
  background-color: #2196F3;
}

.toggleCheckbox:checked + .toggleLabel::before {
  transform: translateX(26px);
}
