@use 'styles' as *;

.grid {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
}

.layout {
  background-image: $color-gradient-mixed-900-400;
  height: 100vh;
}

.versioning {
  bottom: 10px;
  color: azure;
  position: absolute;
  text-align: center;
  width: 100%;
}