@import 'styles';

.profilestats {
  @include grid-cols($nof_cols: 4);

  align-items: center;
  background-color: $color-gray-700;
  gap: $spacing-48;
  padding: $spacing-48;
}

.profilestat {
  @include flex-y($spacing-16);

  padding: $spacing-32;

  &--label {
    @extend %text-style-display-md-bold;

    color: $color-gray-300;
  }

  &--value {
    @extend %text-style-display-xs-medium;

    color: $color-gray-400;
  }
}
