@import 'styles';

.profilestats {
  align-items: center;
  background-color: $color-gray-700;
  display: flex;
  justify-content: space-evenly;
  padding: $spacing-32;
}

.profilestat {
  @extend %flex-center;

  flex-direction: column;
  gap: $spacing-16;

  &--value {
    @extend %text-style-display-md-bold;

    color: $color-gray-300;
  }

  &--label {
    @extend %text-style-display-xs-medium;

    color: $color-gray-400;
  }
}
