@import 'styles';

.profilestats {
  @include grid-cols($nof_cols: 4);

  align-items: center;
  background-color: $color-gray-700;
  height: 20rem;
}

.profilestat {
  @extend %flex-center;

  flex-direction: column;
  gap: $spacing-16;

  &--value {
    @extend %text-style-display-md-bold;

    color: $color-gray-300;
  }

  &--label {
    @extend %text-style-display-xs-medium;

    color: $color-gray-400;
  }
}
