@use 'styles' as *;

%number {
  bottom: 4rem;
  color: $color-gray-50;
  position: absolute;
}

.chosenPlayer {
  @include flex-y($gap: $spacing-40);

  min-width: 0;
}

.layout {
  max-height: 100%;
}

.head {
  @extend %text-style-display-md-bold;
  @extend %flex-between;

  align-items: center;
  color: $color-gray-200;
  gap: $spacing-4;

  tr {
    @extend %flex-center;

    justify-content: space-between;
    width: 100%;
  }
  
  button {
    @extend %flex-center;

    background-color: $color-gray-300;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: $spacing-12;
    transition: all 0.3s;

    &:hover {
      background-color: $color-primary-25;
    }
  }
}

.body {
  @include flex-y($gap: $spacing-12);

  width: 100%;

  span {
    @extend %text-style-display-xs-semibold;

    color: $color-gray-25;
    text-align: left;
  }

  .row {
    @include flex-x(null);

    justify-content: space-between;
    text-align: left;
    width: 100%;
  }
}

.gauge {
  max-width: 100%;
  position: relative;
}

.minelo {
  @extend %text-style-text-lg-semibold;
  @extend %number;

  right: 95%;
}

.maxelo {
  @extend %text-style-text-lg-semibold;
  @extend %number;

  left: 95%;
}

.currentelo {
  @extend %text-style-display-sm-semibold;
  @extend %number;

  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
}
