@import "~components/styles/config";

.btn {
  border: 0;
  border-radius: 300px;
  box-shadow: rgb(0 0 0 / 20%) 0 3px 8px;
  color: whitesmoke;
  padding: 0.8rem 2.4rem;
  transition: all 0.2s;

  &:hover {
    box-shadow: rgb(0 0 0 / 20%) 0 3px 6px;
    transform: translateY(-10%);
  }

  &__positive {
    background-color: green;

    &:hover {
      background-color: color.adjust(green, 3);
    }
  }

  &__negative {
    background-color: red;

    &:hover {
      background-color: color.adjust(red, 3);
    }
  }
}
