@use 'styles' as *;

.button {
  @include flex-x($spacing-12);
  @extend %text-style-text-xl-bold;
  @extend %flex-center;

  background-color: $color-primary-50;
  border: none;
  border-color: $color-primary-50;
  border-radius: $border-radius-small;
  color: $color-primary-700;
  cursor: pointer;
  padding: $spacing-12 $spacing-24;
  position: fixed;
  right: $spacing-64;
  text-transform: uppercase;
  top: $spacing-64;
  transition: all 0.3s;
}

.button:hover {
  background-color: $color-base-white;
  transform: translateY(-$spacing-4);
}

.button:active {
  transform: translateY(0);
}