@use 'styles' as *;

.paginationContainer {
  @extend %flex-center;

  background-color: $color-gray-800;
  gap: $spacing-16;
  padding: $spacing-24;
}

.paginationButton {
  @extend %flex-center;

  background: none;
  border: none;
  color: $color-gray-200;
  cursor: pointer;
  transition: all 0.25s;
  
  &:hover {
    color: $color-gray-50;
    scale: 1.05;
  }

  &:disabled {
    color: $color-gray-500;
  }
}

.paginationInput {
  @include size($spacing-56);
  @extend %text-style-display-sm-semibold;

  background: none;
  border: 2px solid $color-gray-600;
  border-radius: $border-radius-small;
  color: $color-base-white;
  text-align: center;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}
