@import 'styles/config';

.sidebar {
  @include padding-x($spacing-16);

  background: $prodeko-blue;
  height: 100vh;
  position: fixed;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-16;
}

.sidebarLink {
  @extend %sidebar-button;
  @include sidebar-button-hover;
  @include sidebar-button-click;

  &.fade::before {
    @extend %sidebar-button;
    @extend %animation-ping;
  
    content: "";
    opacity: 0.6;
    position: absolute;
    z-index: -1;
  }
}

.modal {
  @extend %modal-position;
  @extend %flex-center;

  backdrop-filter: blur(10px);
  background-color: rgb(255 255 255 / 50%);

  
  &Content {
    @include shadow-modal($black);

    background-color: $prodeko-blue;
    border-radius: $border-radius-large;
    height: 70vh;
    position: relative;
    width: 70vw;
  }

  &Title { 
    @include padding-x($spacing-24);
    @include padding-y($spacing-12);

    background: $prodeko-blue;
    border-radius: $border-radius-full;
    box-shadow: rgba($white, 35%) 0 3px 8px;
    color: $white;
    display: inline-block;
    font-size: $font-size-36;
    left: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
  }

  &Button {
    @include modal-button-hover($pure-white);
    @include modal-button-click;
    @include shadow-button($white);
    @include button-styles(6rem);
    
    background-color: inherit;
    border-radius: 50%;
    color: $white;
    left: 0;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    transition: all 0.3s;
  }

  &Layout {
    @include padding-x($spacing-32);
    @include padding-y($spacing-32);

    color: $white-grey;
    display: grid;
    grid-template-rows: 20fr 80fr;
    margin-top: $spacing-32;
  }

  &Header {
    border-radius: $border-radius-small;
    box-shadow: rgba($white, 35%) 0 3px 8px;
    display: flex;
    gap: $spacing-16;
    padding: $spacing-12;
    transition: all 0.2s;
  }

  &Input {
    background-color: inherit;
    border: none;
    color: $white;
    flex-grow: 1;
    font-size: 4rem;
    outline: none;

    :focus {
      outline: 1px green;
    }
  }
}
