@import 'styles/config';

.sidebar {
  @include padding-x($spacing-16);

  background: $prodeko-blue;
  height: 100%;
  position: fixed;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-16;
}

.sidebarLink {
  @extend %sidebar-circle;

  z-index: 2;
  
  &:hover {
    color: lighten($prodeko-blue, 15);
    transform: scale(1.05);
    
    & > svg {
      stroke: url("#bg-rainbow") lighten($prodeko-blue, 15);
    }
  }
  
  &:active {
    transform: scale(0.95);
  }

  &.fade::before {
    @extend %sidebar-circle;
    @extend %animation-ping;
  
    content: "";
    opacity: 0.6;
    position: absolute;
    z-index: -1;
  }
}