@use 'styles' as *;

.container {
  @extend %flex-center;
  @extend %background-blur-sm;

  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.modal {
  background: $color-gradient-gray-800-700;
  border-radius: $border-radius-large;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr) auto;
  height: 85%;
  justify-content: space-between;
  min-height: 0;
  position: relative;
  width: 85%;

  .closeButton {
    @extend %flex-center;

    background-color: $color-primary-800;
    border: none;
    border-radius: 6.4rem;
    cursor: pointer;
    height: 6.4rem;
    left: -3.2rem;
    position: absolute;
    top: -3.2rem;
    width: 6.4rem;

    svg {
      height: 100%;
      width: 100%;
    }
  }
}

.playerLabel {
  @extend %flex-center;

  background: $color-gradient-gray-800-700;
  height: 100%;
  width: 7.2rem;

  h3 {
    @extend %text-style-display-md-bold;

    color: $color-success-500;
    text-orientation: upright;
    writing-mode: vertical-lr;
  }

  .loser {
    color: $color-error-500;
  }
}

