@use 'styles' as *;

%row {
  @extend %text-style-text-xl-semibold;
  @include padding-y($padding: $spacing-8);
  @include padding-x($padding: $spacing-16);

  color: $color-gray-50;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
}

%elo-change {
  @include grid-cols(3);

  align-items: center;
  height: 100%;
  width: 60%;

  & :nth-child(2) {
    text-align: center;
  }

  & :nth-child(3) {
    text-align: right;
  }
}

.table {
  gap: $spacing-16;
  height: 100%;
}

.tablebody {
  @include scrollbar(true);

  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.row {
  &__header {
    @extend %row;

    border-bottom: $border-primary-600-px;
    color: $color-gray-400;
    justify-items: start;
    text-transform: uppercase;
  }

  &__game {
    @extend %row;
  }

  &__last {
    @extend %row;
    @extend %animation-remove-game;

    z-index: 20;
  }
}

.time {
  grid-column: 1 / 3;
}

.winner {
  grid-column: 3 / 6;
  height: 100%;
}

.winnerEloChange {
  @extend %elo-change;

  grid-column: 6 / 8;

  &__header {
    grid-column: 6 / 8;
  }
}

.loser {
  grid-column: 8 / 11;
}

.loserEloChange {
  @extend %elo-change;

  grid-column: 11 / 13;

  &__header {
    grid-column: 11 / 13;
  }
}

.chevron {
  @include flex-y(null);
  @extend %flex-center;

  font-size: 0.6em;
  height: 100%;
}

.link {
  border-bottom: 1px solid transparent;
  height: 100%;
  padding-bottom: 3px;
  transition: all 0.2s;

  &:hover {
    border-bottom: 1px solid $color-gray-200;
  }
}