@use 'styles' as *;

.card {
    @extend %flex-center;
    @extend %text-style-display-md-semibold;

    background-image: url("/images/add-game-background.png");
    background-position: center;
    background-size: cover;
    border-radius: $border-radius-large;
    color: $color-gray-400;
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    transition: all 0.2s;

    .center {
        @extend %flex-center;

        height: 100%;
    }
}

.card:hover {
    color: $color-gray-200;
}