@use 'styles' as *;

.text {
  @extend %flex-center;
  @extend %text-style-display-2-xl-semibold;

  color: $color-gray-300;
  font-style: italic;
  height: 100%;
  text-align: center;
  width: 100%
}
