@use 'styles' as *;

.container {
  @extend %flex-center;

  background: $color-gradient-mixed-900-400;
  height: 100%;
  width: 100%;
}

.text {
  @extend %text-style-display-2-xl-semibold;

  color: $color-base-white
}
