@use 'styles' as *;

%search-container {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  max-height: 40%;
  text-align: left;
  transition: all 0.7s;
  width: 75%;
}

.wrapper {
  @extend %flex-center;

  padding: $spacing-48;
}

.searchContainer {
  @extend %search-container;

  min-height: 20%;

  &__extended {
    @extend %search-container;

    min-height: 75%;
  }
}

.header {
  @extend %text-style-display-lg-semibold;

  color: $color-base-white;
  padding-bottom: $spacing-16
}