@use 'styles' as *;

%searchContainer {
  text-align: left;
  width: 50%;
  transition: all 1s;
}

.searchContainer {
  @extend %searchContainer;
  min-height: 10%;

  &__extended {
    @extend %searchContainer;

    min-height: 50%;
  }
}

.header {
  @extend %text-style-display-lg-semibold;

  color: $color-base-white;
  padding-bottom: $spacing-16
}