@use 'styles' as *;

%card-column {
  display: grid;
  height: 100%;
  min-height: 0;
  row-gap: 1.6rem;
}

.cardWrapper {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  height: 100%;
  min-height: 0;
}

.cardLabel {
  background: $color-gradient-primary-900-700;
  padding: 6.4rem;
  text-align: center;

  h3 {
    @extend %text-style-display-lg-bold;
    @include gradient-text($color-gradient-white-300-100);
  }
}

.card {
  column-gap: $spacing-32;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  min-height: 0;
  padding: $spacing-64;
}

.cardColumn {
  @extend %card-column;

  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);

  &__selected {
    @extend %card-column;

    grid-template-rows: minmax(0, 1fr);
  }
}

.buttonWrapper {
  @extend %flex-center;
  @include flex-y($gap: 3rem);

  height: 100%;
  width: 100%;

  button {
    @extend %text-style-display-xs-semibold;

    background: $color-primary-600;
    border: none;
    border-radius: $border-radius-small;
    color: white;
    cursor: pointer;
    height: 7rem;
    width: 50%;
  }

  .underTable {
    @include flex-x($gap: 3rem);

    input {
      height: 3rem;
      width: 3rem;
    }

    p {
      @extend %text-style-display-xs-semibold;

      color: white;
    }
  }
}

