@use 'styles' as *;

.container {
  @include flex-y($gap: $spacing-24);

  align-items: center;
  justify-content: center;
  color: $color-gray-200;
  height: 100vh;
  width: 100vw;
}

.title {
  @extend %text-style-display-xl-semibold;
}

// This article was used to create the spinner styles: https://medium.com/@clg/animated-svg-spinner-8dff32d310fc
.spinner {
  @include size($spinner-size);

  x: 0px; 
  y: 0px;
  viewBox: 0 0 $spinner-size $spinner-size;

  circle {
    @extend %animation-spinner;

    fill: transparent;
    stroke: $color-gray-200;
    stroke-dasharray: (3.14 * $spinner-size);
    stroke-width: 4;
    stroke-linecap: round;
    transform-origin: (0.5 * $spinner-size) (0.5 * $spinner-size) 0;
  }
}