@use 'styles' as *;

%layout {
  @extend %background-filter;
  @include padding-x($spacing-48);

  align-items: center;
  gap: $spacing-24;
  grid-column: 1 / -1;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

%header {
  align-items: center;
  display: grid;
  height: $header-height;
  position: relative;
}

.header {
  @include grid-cols(6);
  @extend %header;
}

.profileheader {
  @include grid-cols(8);
  @extend %header;
}

.title {
  @extend %text-style-display-2-xl-bold;
  @include gradient-text($color: $color-gradient-white-200-25);

  padding-left: $spacing-24;
}

.layout {
  @include grid-cols(3);
  @extend %layout;
}

.profilelayout {
  @include grid-cols(8);
  @extend %layout;
}

.emojiCircle {
  @extend %flex-center;
  @extend %shadow-lg;
  @extend %text-style-display-2-xl-bold;

  aspect-ratio: 1 / 1;
  background-color: $color-base-white;
  border-radius: $border-radius-full;
  position: relative;
}

.profileinfo {
  @include flex-y($gap: $spacing-16);

  align-items: center;
  color: $color-gray-100;

  &--primary {
    @extend %text-style-display-sm-semibold;
  }

  &--secondary {
    @include flex-x($gap: $spacing-8);
    @extend %text-style-text-md-semibold;

    align-items: center;
    background-color: $color-gray-300;
    border: 2px solid $color-base-black;
    border-radius: $border-radius-full;
    color: $color-primary-700;
    cursor: pointer;
    left: 0;
    padding: $spacing-12;
    position: absolute;
    top: 0;
    transition: all 0.3s;

    &:hover {
      @extend %shadow-xl;

      background-color: $color-gray-100;
    }

    .icon {
      @include size($spacing-24);
    }
  }
}

