@use 'styles' as *;

%motto {
  transition: all 1s;
  position: absolute;
}

@mixin motto-push-in($width) {
  @extend %motto;
  right: 0;
  width: $width;

  &__switch {
    @extend %motto;
    right: -$width;
    width: $width;
  }
}

.header {
  height: $header-height;
  position: relative;
}

.title {
  @extend %text-style-display-2-xl-bold;
  @include gradient-text($color: $color-gradient-white-200-25);
}

.layout {
  @include flex-x($gap: $spacing-32);
  
  align-items: center;
  height: 100%;
  justify-content: space-between;
  margin-left: 5%;
  position: relative;
}

.motto {
  @include motto-push-in($width: 72rem);
}