@use 'styles' as *;

.header {
  height: $header-height;
  position: relative;
}

.title {
  @extend %text-style-display-2-xl-bold;
  @include gradient-text($color: $color-gradient-white-200-25);
}

.layout {
  @include flex-x($gap: $spacing-32);
  
  align-items: center;
  height: 100%;
  justify-content: space-between;
  margin-left: 5%;
  position: relative;
}
