%background-blur-sm {
	backdrop-filter : blur(8px);
}
%background-blur-md {
	backdrop-filter : blur(16px);
}
%background-blur-lg {
	backdrop-filter : blur(24px);
}
%background-blur-xl {
	backdrop-filter : blur(40px);
}