// Grids
@mixin grid-cols($nof_cols) {
  display: grid;
  grid-template-columns: repeat($nof_cols, 1fr);
}
@mixin grid-rows($nof_rows) {
  display: grid;
  grid-template-columns: repeat($nof_rows, 1fr);
}

// Flexbox
@mixin flex-y($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
@mixin flex-x($gap) {
  display: flex;
  flex-direction: row;
  gap: $gap;
}
%flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}