// NOTE!! These should be moved to their use-case specific scss-files or be better generalized,
// right not this file acts as a temporary storage.

%sidebar-button {
  @extend %flex-center;
  @include button-styles(10rem);

  background-color: $pure-white;
  border-radius: 50%;
  color: $prodeko-blue;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 2;
}

%modal-position {
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 9999;
}

@mixin hover-background($color) {
  background-color: $color;

  &:hover {
    background-color: darken($color, 3%);
    cursor: pointer;
  }
}

@mixin button-styles($side-length) {
  border: none;
  height: $side-length;
  width: $side-length;
}

@mixin sidebar-button-hover {
  &:hover {
    color: lighten($prodeko-blue, 15);
    transform: scale(1.05);
    
    & > svg {
      stroke: url("#bg-rainbow") lighten($prodeko-blue, 15);
    }
  }
}

@mixin sidebar-button-click {
  &:active {
    transform: scale(0.95);
  }
}

@mixin modal-button-hover($shadow-color) {
  &:hover {
    box-shadow: rgba($shadow-color, 35%) 0 3px 8px;
    cursor: pointer;
    transform: translateY(-50%) translateX(-50%) scale(1.2);
  }
}

@mixin modal-button-click() {
  &:active {
    transform: translateY(-50%) translateX(-50%) scale(1)
  }
}

@mixin shadow-button($color) {
  box-shadow: rgba($color, 35%) 0 3px 8px;
}

@mixin shadow-modal($color) {
  box-shadow: rgba($black, 56%) 0 22px 70px 4px;
}

@mixin react-icon($width) {
  height: $width;
  width: $width;
}