// Font-size
$font-size-86: 8.6rem;
$font-size-52: 5.2rem;
$font-size-36: 3.6rem;
$font-size-30: 3rem;
$font-size-24: 2.4rem;
$font-size-20: 2rem;
$font-size-16: 1.6rem;
$font-size-14: 1.4rem;
$font-size-12: 1.2rem;

// Font weights
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-default: 400;

// Spacing
$spacing-32: 3.2rem;
$spacing-24: 2.4rem;
$spacing-16: 1.6rem;
$spacing-12: 1.2rem;
$spacing-8: 0.8;
$spacing-4: 0.4rem;
$spacing-2: 0.2rem;

// Border radius
$border-radius-large: 11px;
$border-radius-small: 9px;
$border: 1px solid #e5e5e5;

// Box shadow
$box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 7.5%);

// Sidebar
$sidebar-width: 13rem;
$searchbar-width-partial: 16rem;
