@import 'styles/config';

.layout {
  height: 100vh;

  // DUM VALUE: should be calculated as: 2* sidebar paddingx + max(sidebarlink width)
  margin-left: $sidebar-width;
  width: calc(100vw - $sidebar-width);
}
