@use 'styles' as *;

%results {
  @include scrollbar(false);
  @include flex-y(null);

  background: $color-base-white;
  border-radius: $border-radius-small;
  transition: all 0.5s;
}

%button {
  @include size($spacing-24);
  @extend %flex-center;

  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s;
}

%search {
  @include flex-x($spacing-16);

  background-color: $color-base-white;
  border-radius: $border-radius-small;
  justify-content: space-between;
  padding: $spacing-12;
  width: 100%;
}

.container {
  @include flex-y($spacing-8);

  position: absolute;
  right: $spacing-24;
  top: $spacing-24;
  width: 50%;
  z-index: 2;
}

.search {
  @extend %search;

  cursor: pointer;

  &__visible {
    @extend %search;
    
    cursor: auto;
  }
}

.input {
  border: none;
  width: 100%;
  cursor: pointer;

  &:focus {
    outline: none;
    cursor: auto;
  }
}

.button {
  @extend %button;

  scale: 0;

  &__visible {
    @extend %button;

    scale: 1;

    &:hover {
      scale: 1.5;
    }
  }
}

.results {
  @extend %results;
  
  max-height: 0rem;
  
  &__visible {
    @extend %results;

    max-height: $spacing-256;
  }
}

.player {
  @extend %text-style-text-md-normal;
  @include grid-cols(6);

  cursor: pointer;
  pointer-events: fill;
  
  & > * {
    padding: $spacing-8;
  }
}

.id {
  grid-column: 1 / 1;
}

.name {
  grid-column: 2 / -1;
}

.noplayers {
  @extend %flex-center;
  @extend %text-style-display-sm-semibold;

  text-align: center;
  height: $spacing-256;
}

.player:hover, .selected {
  background: $color-gray-300;
}
