@use 'styles' as *;

.container {
  @extend %flex-center;
  @include flex-y($spacing-48);

  height: 100%;
}

.textcontainer {
  @extend %flex-center;
  @include flex-y($spacing-8);
}

.title {
  @extend %text-style-display-xl-medium;

  color: $color-gray-400;
}

.message {
  @extend %text-style-display-xs-normal;

  color: $color-gray-100;
}

.button {
  @extend %text-style-text-lg-normal;
  @include padding-x($spacing-16);
  @include padding-y($spacing-8);

  background-color: $color-gray-300;
  border: none;
  border-radius: $border-radius-small;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: $color-gray-100;
  }
}