@use 'styles' as *;

.buttonWrapper {
  @extend %flex-center;
  @include flex-y($gap: 3rem);

  height: 100%;
  width: 100%;

  button {
    @extend %text-style-display-xs-semibold;

    background: $color-primary-600;
    border: none;
    border-radius: $border-radius-small;
    color: white;
    cursor: pointer;
    height: 7rem;
    transition: all 0.3s;
    width: 50%;
  }

  button:disabled {
    background: $color-primary-200;
    cursor: not-allowed;
  }

  button:hover {
    background: $color-primary-700;
  }

  .underTable {
    @include flex-x($gap: 3rem);

    input {
      height: 3rem;
      width: 3rem;
    }

    label {
      @extend %text-style-display-xs-semibold;

      color: white;
    }
  }
}
