@use 'styles' as *;

.container {
  @include grid-cols(2);

  column-gap: $spacing-64;
  max-height: 100%;
  padding: $spacing-64;
}

.chartTitle {
  @extend %text-style-display-sm-medium;

  color: $color-gray-100;
}

.chartContainer {
  color: $color-gray-25;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  max-height: 100%;
  row-gap: $spacing-16;
}

.pieContainer {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  row-gap: $spacing-24;
}
