@use 'styles' as *;

.container {
  background-image: $color-gradient-mixed-900-400;
  column-gap: $spacing-128;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto minmax(0, 1fr);
  height: 100%;
  padding: $spacing-48;
  row-gap: $spacing-32;
}

.chartTitle {
  @extend %text-style-display-lg-bold;

  color: $color-gray-100;
}

.chartContainer {
  color: $color-gray-25;
  height: 100%;
}

// To be made
.eloGraph {
  @extend %flex-center;
  @extend %text-style-display-lg-bold;

  background-color: $color-gray-400;
}
