// Font weights
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;

// Display 2XL
%text-style-display-2-xl-regular {
  font-size: 7.2rem;
  font-weight: $font-weight-regular;
  letter-spacing: -0.02em;
  line-height: 9rem;
}
%text-style-display-2-xl-medium {
  font-size: 7.2rem;
  font-weight: $font-weight-medium;
  letter-spacing: -0.02em;
  line-height: 9rem;
}
%text-style-display-2-xl-semibold {
  font-size: 7.2rem;
  font-weight: $font-weight-semibold;
  letter-spacing: -0.02em;
  line-height: 9rem;
}
%text-style-display-2-xl-bold {
  font-size: 7.2rem;
  font-weight: $font-weight-bold;
  letter-spacing: -0.02em;
  line-height: 9rem;
}

// Display XL
%text-style-display-xl-normal {
  font-size: 6rem;
  font-weight: $font-weight-regular;
  letter-spacing: -0.02em;
  line-height: 7.2rem;
}
%text-style-display-xl-medium {
  font-size: 6rem;
  font-weight: $font-weight-medium;
  letter-spacing: -0.02em;
  line-height: 7.2rem;
}
%text-style-display-xl-semibold {
  font-size: 6rem;
  font-weight: $font-weight-semibold;
  letter-spacing: -0.02em;
  line-height: 7.2rem;
}
%text-style-display-xl-bold {
  font-size: 6rem;
  font-weight: $font-weight-bold;
  letter-spacing: -0.02em;
  line-height: 7.2rem;
}

// Display large
%text-style-display-lg-normal {
  font-size: 4.8rem;
  font-weight: $font-weight-regular;
  letter-spacing: -0.02em;
  line-height: 6rem;
}
%text-style-display-lg-medium {
  font-size: 4.8rem;
  font-weight: $font-weight-medium;
  letter-spacing: -0.02em;
  line-height: 6rem;
}
%text-style-display-lg-semibold {
  font-size: 4.8rem;
  font-weight: $font-weight-semibold;
  letter-spacing: -0.02em;
  line-height: 6rem;
}
%text-style-display-lg-bold {
  font-size: 4.8rem;
  font-weight: $font-weight-bold;
  letter-spacing: -0.02em;
  line-height: 6rem;
}

// Display medium
%text-style-display-md-normal {
  font-size: 3.6rem;
  font-weight: $font-weight-regular;
  letter-spacing: -0.02em;
  line-height: 4.4rem;
}
%text-style-display-md-medium {
  font-size: 3.6rem;
  font-weight: $font-weight-medium;
  letter-spacing: -0.02em;
  line-height: 4.4rem;
}
%text-style-display-md-semibold {
  font-size: 3.6rem;
  font-weight: $font-weight-semibold;
  letter-spacing: -0.02em;
  line-height: 4.4rem;
}
%text-style-display-md-bold {
  font-size: 3.6rem;
  font-weight: $font-weight-bold;
  letter-spacing: -0.02em;
  line-height: 4.4rem;
}

// Display small
%text-style-display-sm-normal {
  font-size: 3rem;
  font-weight: $font-weight-regular;
  line-height: 3.8rem;
}
%text-style-display-sm-medium {
  font-size: 3rem;
  font-weight: $font-weight-medium;
  line-height: 3.8rem;
}
%text-style-display-sm-semibold {
  font-size: 3rem;
  font-weight: $font-weight-semibold;
  line-height: 3.8rem;
}
%text-style-display-sm-bold {
  font-size: 3rem;
  font-weight: $font-weight-bold;
  line-height: 3.8rem;
}
%text-style-display-sm-medium-italic {
  font-size: 3rem;
  font-style: italic;
  font-weight: $font-weight-medium;
  line-height: 4.4rem;
}

// Display xs
%text-style-display-xs-normal {
  font-size: 2.4rem;
  font-weight: $font-weight-regular;
  line-height: 3.2rem;
}
%text-style-display-xs-medium {
  font-size: 2.4rem;
  font-weight: $font-weight-medium;
  line-height: 3.2rem;
}
%text-style-display-xs-semibold {
  font-size: 2.4rem;
  font-weight: $font-weight-semibold;
  line-height: 3.2rem;
}
%text-style-display-xs-bold {
  font-size: 2.4rem;
  font-weight: $font-weight-bold;
  line-height: 3.2rem;
}
%text-style-display-xs-medium-italic {
  font-size: 2.4rem;
  font-style: italic;
  font-weight: $font-weight-medium;
  line-height: 3.6rem;
}

// Text XL
%text-style-text-xl-normal {
  font-size: 2rem;
  font-weight: $font-weight-regular;
  line-height: 3rem;
}
%text-style-text-xl-medium {
  font-size: 2rem;
  font-weight: $font-weight-medium;
  line-height: 3rem;
}
%text-style-text-xl-semibold {
  font-size: 2rem;
  font-weight: $font-weight-semibold;
  line-height: 3rem;
}
%text-style-text-xl-bold {
  font-size: 2rem;
  font-weight: $font-weight-bold;
  line-height: 3rem;
}
%text-style-text-xl-normal-italic {
  font-size: 2rem;
  font-style: italic;
  font-weight: $font-weight-regular;
  line-height: 3rem;
}
%text-style-text-xl-medium-italic {
  font-size: 2rem;
  font-style: italic;
  font-weight: $font-weight-medium;
  line-height: 3rem;
}
%text-style-text-xl-semibold-italic {
  font-size: 2rem;
  font-style: italic;
  font-weight: $font-weight-semibold;
  line-height: 3rem;
}
%text-style-text-xl-bold-italic {
  font-size: 2rem;
  font-style: italic;
  font-weight: $font-weight-bold;
  line-height: 3rem;
}
%text-style-text-xl-normal-underlined {
  font-size: 2rem;
  font-weight: $font-weight-regular;
  line-height: 3rem;
  text-decoration: underline;
  text-transform: none;
}

// Text large
%text-style-text-lg-normal {
  font-size: 1.8rem;
  font-weight: $font-weight-regular;
  line-height: 2.8rem;
}
%text-style-text-lg-medium {
  font-size: 1.8rem;
  font-weight: $font-weight-medium;
  line-height: 2.8rem;
}
%text-style-text-lg-semibold {
  font-size: 1.8rem;
  font-weight: $font-weight-semibold;
  line-height: 2.8rem;
}
%text-style-text-lg-bold {
  font-size: 1.8rem;
  font-weight: $font-weight-bold;
  line-height: 2.8rem;
}
%text-style-text-lg-normal-italic {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: $font-weight-regular;
  line-height: 2.8rem;
}
%text-style-text-lg-medium-italic {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: $font-weight-medium;
  line-height: 2.8rem;
}
%text-style-text-lg-semibold-italic {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: $font-weight-semibold;
  line-height: 2.8rem;
}
%text-style-text-lg-bold-italic {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: $font-weight-bold;
  line-height: 2.8rem;
}
%text-style-text-lg-regular-underlined {
  font-size: 1.8rem;
  font-weight: $font-weight-regular;
  line-height: 2.8rem;
  text-decoration: underline;
  text-transform: none;
}
%text-style-text-lg-medium-underlined {
  font-size: 1.8rem;
  font-weight: $font-weight-medium;
  line-height: 2.8rem;
  text-decoration: underline;
  text-transform: none;
}

// Text medium
%text-style-text-md-normal {
  font-size: 1.6rem;
  font-weight: $font-weight-regular;
  line-height: 2.4rem;
}
%text-style-text-md-medium {
  font-size: 1.6rem;
  font-weight: $font-weight-medium;
  line-height: 2.4rem;
}
%text-style-text-md-semibold {
  font-size: 1.6rem;
  font-weight: $font-weight-semibold;
  line-height: 2.4rem;
}
%text-style-text-md-bold {
  font-size: 1.6rem;
  font-weight: $font-weight-bold;
  line-height: 2.4rem;
}
%text-style-text-md-normal-italic {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: $font-weight-regular;
  line-height: 2.4rem;
}
%text-style-text-md-medium-italic {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: $font-weight-medium;
  line-height: 2.4rem;
}
%text-style-text-md-semibold-italic {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: $font-weight-semibold;
  line-height: 2.4rem;
}
%text-style-text-md-bold-italic {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: $font-weight-bold;
  line-height: 2.4rem;
}
%text-style-text-md-normal-underlined {
  font-size: 1.6rem;
  font-weight: $font-weight-regular;
  line-height: 2.4rem;
  text-decoration: underline;
  text-transform: none;
}
%text-style-text-md-medium-underlined {
  font-size: 1.6rem;
  font-weight: $font-weight-medium;
  line-height: 2.4rem;
  text-decoration: underline;
  text-transform: none;
}

// Text small
%text-style-text-sm-normal {
  font-size: 1.4rem;
  font-weight: $font-weight-regular;
  line-height: 2rem;
}
%text-style-text-sm-medium {
  font-size: 1.4rem;
  font-weight: $font-weight-medium;
  line-height: 2rem;
}
%text-style-text-sm-semibold {
  font-size: 1.4rem;
  font-weight: $font-weight-semibold;
  line-height: 2rem;
}
%text-style-text-sm-bold {
  font-size: 1.4rem;
  font-weight: $font-weight-bold;
  line-height: 2rem;
}
%text-style-text-sm-normal-underlined {
  font-size: 1.4rem;
  font-weight: $font-weight-regular;
  line-height: 2rem;
  text-decoration: underline;
  text-transform: none;
}

// Text XS
%text-style-text-xs-normal {
  font-size: 1.2rem;
  font-weight: $font-weight-regular;
  line-height: 1.8rem;
}
%text-style-text-xs-medium {
  font-size: 1.2rem;
  font-weight: $font-weight-medium;
  line-height: 1.8rem;
}
%text-style-text-xs-semibold {
  font-size: 1.2rem;
  font-weight: $font-weight-semibold;
  line-height: 1.8rem;
}
%text-style-text-xs-bold {
  font-size: 1.2rem;
  font-weight: $font-weight-bold;
  line-height: 1.8rem;
}

// Mixins
@mixin gradient-text($color) {
  background: $color;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
